body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:471px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:123px;
  width:379px;
  height:470px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:70px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:18px;
  width:379px;
  height:69px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:54px;
  width:14px;
  height:23px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:57px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:39px;
  width:116px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:112px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:62px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:36px;
  width:37px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:33px;
  white-space:nowrap;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:87px;
  width:379px;
  height:39px;
  text-align:left;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:375px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:100px;
  width:15px;
  height:13px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:468px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:126px;
  width:379px;
  height:467px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:135px;
  width:50px;
  height:50px;
  text-align:left;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:51px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:135px;
  width:267px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:263px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:203px;
  width:50px;
  height:50px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:51px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:203px;
  width:267px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:263px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:434px;
  width:50px;
  height:50px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:51px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:434px;
  width:267px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:263px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:355px;
  width:50px;
  height:50px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:51px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:355px;
  width:267px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:263px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:280px;
  width:50px;
  height:50px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:51px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:280px;
  width:267px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:263px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:511px;
  width:50px;
  height:50px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:51px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:511px;
  width:267px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:263px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:87px;
  width:379px;
  height:39px;
  opacity:0;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
